<h1 id="title" class="title">Welcome to RAILS-FlY</h1>
<div id="search-errors"></div>
<div class="container">



  <div class="row" id="search-div">
    <div class="col-md-4">
      <%= render partial:  "partials/search_flights_form", locals: { airports: @airports } %>
    </div>

    <div class="col-md-8" id="results">
    </div>
  </div>
</div>
