<div class="container">
  <div class="row">

    <%= render partial:  "partials/search_flights_form", locals: { airports: @airports } %>

    <div class="row" id="results">
    </div>
  </div>
</div>
