<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="panel" aria-label="close">&times;</a>
          <ul>
            <% errors.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
  </div>
</div>
</div>
