<div class="container">
   <div class="row">
      <%= form_tag manage_bookings_path, method: 'get', id: "booking_form" do %>
      <div id="manage" class="col s12 m6 l6 offset-m3 offset-l3 z-depth-2">
         <h4 class="row center-align">Manage Booking</h4>
         <div class="row">

            <div class="form-group">
               <%= label_tag :ref, "Confirmation Number" %>
               <%= text_field_tag :ref %>
            </div>
               <button id="search" class="btn btn-success" type="submit">Search
               </button>
         </div>
      </div>
      <% end %>
   </div>
</div>
