// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body,
html {
  height: 90%;
  background-repeat: no-repeat;
  background-color: #d3d3d3;
  font-family: 'Oxygen', sans-serif;
  background-image: url("bg.jpg");
  background-size: cover;
  background-attachment: fixed;

}

body { padding-top: 70px; }

.main {
  margin-top: 1px;
}

h1.title {
  font-size: 50px;
  font-family: 'Passion One', cursive;
  font-weight: 400;
  color: #fff;
}

hr {
  width: 10%;
  color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 3px;
}

.main-login {
  background-color: #fff;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center {
  margin: 0 auto;
  max-width: 330px;
  padding: 40px;
}

.login-button {
  margin-top: 5px;
}

.login-register {
  text-align: center;
}

.select-style {
  border: 1px solid #ccc;
  width: 300px;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa;
}

.select-style select {
  padding: 5px 8px;
  width: 130%;
  height: 100px;
  font-size: 10px;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}

.select-style {
    border: 1px solid #ccc;
    width: 300px;

    border-radius: 3px;
    overflow: hidden;
    background: #fafafa
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    height: 100px;
    	font-size: 10px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
