<div class="account" id="account">
    <ul class="ze-menu">
        <nav>Menu</nav>

            <li>
                    <i class="icon-login"></i> Login
            </li>
            <li>
                    <i class="icon-user"></i> Sign up
            </li>
        <li>
            <label for="manage-check">
                <i class="icon-settings"></i> <span class="modal-trigger">Manage Bookings</span>
            </label>
        </li>
    </ul>
</div>
<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"><i class="icon-menu"></i></label>
