<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <%= render "layouts/nav" %>
        <div class="wrap">
            <%= render "layouts/header" %>
            <main class="content " id="panel">
                <%= yield %>
            </main>
            <%= render "layouts/footer" %>
        </div>
    </body>
</html>
